
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    list-style: none;
    height: 100%;
    width: 100%;
    /* min-width: 100%; */

}

.Allure{
    margin-bottom: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url("Supreme-Pictures/Supreme_pic1.jpg") ;
}

/* Header */

.Allure .header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.Allure .header h1{
    color: #fff;
    font-size: 25px;
}
.List-class li{
    display: flex;
    gap: 25px;
    color: #fff;
    font-size: 20px;
}

.Social-class{
    display: flex;
    gap: 25px;
}

.Social-class i{
    color: #fff;
    font-size: 20px;
}

.Skin{
    margin-top: 50px;
    padding: 20px;
    color: #fff;
}

.Skin h1{
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 20px;
}
.Skin p{
    font-size: 20px;
    font-weight: 500;
    gap: 2px;
    padding-bottom: 20px;
}
 
.Skin button{
    color: #fff;
    background-color: gray;
    width: 100px;
    height: 35px;
    border: none;
}


div.Scroll-menu{
    display: flex ;
    background-color: #fff;
    width: 95%;
    height: 50px;
    overflow: auto;
    white-space: nowrap;
    margin-top: 450px;
    gap: 123px;
    margin-left: 40px;
}


div.Scroll-menu a{
    display: flex;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: #000; 
    font-size: 20px;
}

div.Scroll-menu a:hover {
    background-color: #777;
  }


.Main{
   width: 100%;
   /* text-align: center; */

}

/* .Main .header{
  /* text-align: center; 
} */

.Main .header p{
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: black;
    justify-self: center;    
    padding-bottom: 20px;
}

.Main .header h1{
    color: rgba(92, 47, 15, 0.87);
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 500; 
     text-align: center;
    /* font-style: normal; */
    font-size: 45px;
    line-height: 50px;
}

.Main .header h5{
    line-height: 20px;
    padding-top: 30px;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    font-family: "Poppins", sans-serif;

}

.Main .header button{
    margin-left:870px ;    
    margin-top: 60px;
    text-transform: uppercase;
    background-color:  #000000a1;
    color: #fff;
    height: 40px;
    width: 150px;
    font-family: "Poppins", sans-serif;
    /* padding: 20px; */
    border: none;
    font-size: 15px;

}

.Main .header h4{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.Main .header img{
    margin-top: 40px;
    width: 400px;
    height: 550px; 
    text-align: center;
    margin-left: 750px;

}

.Next{
    margin: 50px;
    
}

.Next h1{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
    gap:40px;
}

.Paragraphs{
    border: 2px solid rgba(19, 73, 19, 0.594);
    height:750px;
    width: 500px;
    line-height: 20px;
    margin-left: 700px;
}
  /* LINE 1 */
.PRG1{
    line-height: 20px;
}

.PRG1 h2{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Poppins", sans-serif;

}

.PRG1 p{
    padding-left: 30px;
    padding-bottom: 20px;
}



.line1 .new1{
    margin-bottom: 30px;
}

/* LINE 2 */
.PRG2{
    line-height: 20px;
}

.PRG2 h2{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Poppins", sans-serif;

}

.PRG2 p{
    padding-bottom: 20px;
    padding-left: 30px;

}



.line2 .new3{
   
    margin-bottom: 30px;
}

.line2 .new4{
   
    margin-bottom: 30px;
}

/* LINE 3 */

.PRG3{
    line-height: 20px;
}

.PRG3 h2{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Poppins", sans-serif;

}

.PRG3 p{
    padding-bottom: 20px;
    padding-left: 30px;

}


.line3 .new6{
   
    margin-bottom: 30px;
}

 /* PRG 4 */

.PRG4{
    line-height: 20px;
}

.PRG4 h2{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Poppins", sans-serif;

}

.PRG4 p{
    padding-bottom: 20px;
    padding-left: 30px;

}

.Products{
    margin-top: 40px;
}

.Products h4{
    text-align: center;
    font-size: 20px;
}

.icons{
    margin-left:910px ;
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.fa-chevron-left{
    border-radius: 50%;
    padding: 10px;
    color: rgba(134, 131, 131, 0.42);
    border: 2px solid rgba(0, 0, 0, 0.484);

}

.fa-chevron-right{
    border-radius: 50%;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.484);

}

.Product_pics{
  margin-bottom: 40px;
}

.product-pic1{
    padding-bottom: 40px;
}
.prd-img{
    margin-left: 35px;
    margin-top: 50px;

}

.prd-img img{
    /* margin-left: 15px;    */
    width: 400px;
    height: 500px;
 }

.img1{
    padding-top: 20px;
    margin-left: 35px;
    display: inline-block;

}

.prd-txt{
    
    display: inline-block;
    font-size: 25px;
    margin-bottom: 50px;
    padding-left: 1700px;

}


.product-pic2{
    padding-bottom: 40px;
}
.prd-img2{
    margin-left: 35px;
    margin-top: 50px;

}

.prd-img2 img{
    /* margin-left: 15px;    */
    width: 350px;
    height: 400px;
 }

.img2{
    padding-top: 20px;
    margin-left: 35px;
    display: inline-block;

}

.prd-txt2{
    
    display: inline-block;
    font-size: 25px;
    margin-bottom: 50px;
    padding-left: 1700px;

}

.product-pic3{
    padding-bottom: 40px;
}
.prd-img3{
    margin-left: 35px;
    margin-top: 50px;

}

.prd-img3 img{
    /* margin-left: 15px;    */
    width: 400px;
    height: 400px;
 }

.img3{
    padding-top: 20px;
    margin-left: 35px;
    display: inline-block;

}

.prd-txt3{
    
    display: inline-block;
    font-size: 25px;
    margin-bottom: 50px;
    padding-left: 1700px;

}


.product-pic4{
    padding-bottom: 40px;
}
.prd-img4{
    margin-left: 35px;
    margin-top: 50px;

}

.prd-img4 img{
    /* margin-left: 15px;    */
    width: 400px;
    height: 400px;
 }

.img4{
    padding-top: 20px;
    margin-left: 35px;
    display: inline-block;

}

.prd-txt4{
    
    display: inline-block;
    font-size: 25px;
    margin-bottom: 50px;
    padding-left: 1700px;

}





@media screen and (max-width: 800px){
 .Allure .header{
    display: flex;
    /* padding: 5px; */

 }

 .Allure .header h1{
    color: #fff;
    font-size: 20px;
}

.List-class{
    padding-top: 5px;
}

.List-class li{
    gap: 10px;
    font-size: 10px;
}

.Social-class{
    display: flex;
    gap: 15px;
    padding-top: 5px;
}

.Social-class i{
    font-size: 10px;
}

.Skin h1{
    font-size: 40px;
    font-weight: 900;
    /* padding-bottom: 20px; */
}

div.Scroll-menu{
    width: 80%;
    height: 50px;
    margin-top: 100px;
    gap: 100px;
    margin-left: 30px;
}

.Main .header button{
    margin-left:100px ;
}
.Main .header img{
    width: 320px;
    height: 500px;
    margin-left: 20px; 

}

.Paragraphs{
    height:860px;
    width: 320px;
    margin-left: 20px;
}

.icons{
    margin-left:150px ;
  }

  .prd-img{
    margin-left: 20px;
    margin-top: 40px;

}

.prd-img img{
    margin-left: 15px;   
    width: 300px;
    height: 450px;
 }

.img1{
    display: inline-block;

}

.prd-txt{
    display: inline-block;
    padding-left: 130px;
    font-size: 20px;

}

.prd-img2{
    margin-left: 20px;
    margin-top: 40px;

}

.prd-img2 img{
    margin-left: 15px;   
    width: 300px;
    height: 450px;
 }

.img2{
    display: inline-block;

}

.prd-txt2{
    display: inline-block;
    padding-left: 130px;
    font-size: 20px;

}


.prd-img3{
    margin-left: 20px;
    margin-top: 40px;

}

.prd-img3 img{
    margin-left: 15px;   
    width: 300px;
    height: 450px;
 }

.img3{
    display: inline-block;

}

.prd-txt3{
    display: inline-block;
    padding-left: 130px;
    font-size: 20px;

}



.prd-img4{
    margin-left: 20px;
    margin-top: 40px;

}

.prd-img4 img{
    margin-left: 15px;   
    width: 300px;
    height: 450px;
 }

.img4{
    display: inline-block;

}

.prd-txt4{
    display: inline-block;
    padding-left: 130px;
    font-size: 20px;

}


}
