
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    list-style: none;
    height: 100%;
    width: 100%;
    max-width: 100%;

}

.Allure{
    margin-bottom: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url("Supreme-Pictures/Supreme_pic1.jpg") ;
}

/* Header */

.Allure .header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.Allure .header h1{
    color: #fff;
    font-size: 25px;
    /* padding: 20px; */
}
.List-class li{
    display: flex;
    gap: 25px;
    color: #fff;
    font-size: 20px;
}

.Social-class{
    display: flex;
    gap: 25px;
}

.Social-class i{
    color: #fff;
    font-size: 20px;
}

.Skin{
    margin-top: 50px;
    padding: 20px;
    color: #fff;
}

.Skin h1{
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 20px;
}
.Skin p{
    font-size: 20px;
    font-weight: 500;
    gap: 2px;
    padding-bottom: 20px;
}
 
.Skin button{
    color: #fff;
    background-color: gray;
    width: 100px;
    height: 35px;
    border: none;
}


div.Scroll-menu{
    display: flex ;
    background-color: #fff;
    width: 95%;
    height: 50px;
    overflow: auto;
    white-space: nowrap;
    margin-top: 450px;
    gap: 123px;
    margin-left: 40px;
}


div.Scroll-menu a{
    display: flex;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: #000; 
    font-size: 20px;
}

div.Scroll-menu a:hover {
    background-color: #777;
  }


.Main{
   width: 100%;
text-align: center;

}

/* .Main .header{
  /* text-align: center; 
} */

.Main .header p{
    text-transform: uppercase;
    font-weight: 800;
    color: black;
    justify-self: center;    
    padding-bottom: 20px;
}

.Main .header h1{
    color: rgba(92, 47, 15, 0.87);
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 500; 
     text-align: center;
    /* font-style: normal; */
    font-size: 45px;
    line-height: 50px;
}

.Main .header h5{
    line-height: 20px;
    padding-top: 30px;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    font-family: "Poppins", sans-serif;

}

.Main .header button{
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
    background-color:  #000000a1;
    color: #fff;
    height: 40px;
    width: 150px;
    font-family: "Poppins", sans-serif;
    /* padding: 20px; */
    border: none;
    font-size: 15px;

}

.Main .header h4{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.Main .header img{
    margin-top: 40px;
    width: 400px;
    height: 550px; 
    text-align: center;

}

.Next{
    margin-top: 50px;
}

.Next h1{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
    gap:40px;
}

table{
    border: 1px solid greenyellow;
    justify-self: center;
}

.Td{
    text-transform: uppercase;
}

.Td1{
    text-transform: uppercase;
}


@media screen and (max-width: 800px){
 .Allure .header{
    display: flex;
    padding: 5px;

 }

 .Allure .header h1{
    color: #fff;
    font-size: 20px;
}

.List-class{
    padding-top: 5px;
}

.List-class li{
    gap: 10px;
    font-size: 10px;
}

.Social-class{
    display: flex;
    gap: 15px;
    padding-top: 5px;
}

.Social-class i{
    font-size: 15px;
}


div.Scroll-menu{
    width: 80%;
    height: 50px;
    margin-top: 150px;
    gap: 100px;
    margin-left: 30px;
}
}
